@font-face {
  font-family: CircularBlack;
  src: url(./assets/fonts/FontsFree-Net-CircularStd-Black.ttf);
}

@font-face {
  font-family: CircularBold;
  src: url(./assets/fonts/FontsFree-Net-Circular-Std-Bold.ttf);
}

@font-face {
  font-family: CircularMedium;
  src: url(./assets//fonts/FontsFree-Net-Circular-Std-Medium.ttf);
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #020202;
}

section {
  position: relative;
}

#root > div > div.styles_ticker__-0UvZ > div > div:nth-child(1) {
  position: relative !important;
  z-index: 999 !important;
}

#root > div > div.styles_ticker__-0UvZ > div {
  position: relative !important;
  z-index: 999 !important;
  padding-bottom: 1% !important;
}

#hero {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0px;
  padding: 2% 2% 0% 2%;
  background-color: hsla(105, 47%, 38%, 1);
  background-image: radial-gradient(
      at 24% 91%,
      hsla(149, 68%, 37%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 26% 72%, hsla(78, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 14%, hsla(78, 76%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 94%, hsla(149, 74%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 0%, hsla(149, 75%, 27%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(78, 100%, 37%, 1) 0px, transparent 50%);
  background-size: 300% 200%;
  animation: AnimationName 5s ease infinite;
  box-shadow: 0px 15px 100px 150px #141414;
  position: relative;
  z-index: 10;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 40% 0%;
  }

  50% {
    background-position: 61% 100%;
  }

  100% {
    background-position: 40% 0%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 40% 0%;
  }

  50% {
    background-position: 61% 100%;
  }

  100% {
    background-position: 40% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 40% 0%;
  }

  50% {
    background-position: 61% 100%;
  }

  100% {
    background-position: 40% 0%;
  }
}

.header {
  position: relative;
  z-index: 999;
}

.partnersWrapper {
  width: 100vw;
  height: 70vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #030303;
  box-shadow: #030303 0px -30px 100px 80px;
}

.partnersWrapper h5 {
  margin-bottom: 8%;
}

.partnersTitle {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}

.bubbles {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.bubble {
  background-color: white;

  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 152px;
  margin-right: 20px;
  position: absolute;
  transition: opacity ease-in-out 1s;
  width: 152px;
}

.headerLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.headerLogo img {
  width: 40% !important;
  height: auto;
  filter: brightness(0) invert(1);
}

.logoText {
  font-family: "CircularBold";
  color: #fff;
  font-size: 2em;
  margin: 0px 2% !important;
}

.navMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2.5%;
}

.navMenu a {
  margin-right: 3% !important;
}

.navMenuItem {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.5em;
  margin: 0px 5% 0px 2% !important;
  white-space: nowrap;
}

.navBtn {
  background: radial-gradient(
      60% 60% at 50% 20%,
      rgba(255, 255, 255, 0) 0%,
      rgba(14, 13, 13, 0.12) 100%
    ),
    radial-gradient(
        68.27% 820.44% at 15.38% 30%,
        rgba(31, 28, 28, 0) 0%,
        rgba(255, 255, 255, 0) 52.08%,
        rgba(0, 19, 9, 0.12) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #616161 !important;
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 50px !important;
  border-width: 0px !important;
  padding: 5% 15% !important;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navBtn span {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.5em;
  margin: 0px !important;
  line-height: 1.5em;
  white-space: nowrap;
}

.heroTextWrapper {
  margin-top: 20vh !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.heroTitle {
  font-family: "CircularBlack";
  color: #fff;
  text-align: center;
  font-size: 7em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #030303;
}

.heroSubtitle {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 2.8em;
  text-align: center;
  width: 70vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-weight: 500;
}

#videoAnimation {
  height: fit-content;
  width: 100vw;
  background-color: #020202;
}

#whyGUSD {
  background-color: #020202;
  width: 100vw;
  height: fit-content;
  padding: 0% 3% 3% 3%;
  box-shadow: 0px -33px 49px 29px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -33px 49px 29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -33px 49px 29px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 10;
  box-shadow: 0px -35px 100px 150px #000;
}

.sectionTitle {
  font-family: "CircularBlack";
  font-size: 4.3em;
  background: #4bb954;
  background: repeating-linear-gradient(
    to bottom right,
    #4bb954 0%,
    #c5ff4a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% auto;
  animation: textShine 1.3s ease-in-out infinite alternate;
  text-align: center;
}

.sectionSubtitle {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 2.6em;
  font-size: 500 !important;
  margin-top: 1%;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

.squareElementsGrid {
  margin-top: 5%;
}

.squaresRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.darkSquare {
  background: rgba(10, 54, 27, 0.84);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border-radius: 20px;
  width: 40%;
  height: 55vh;
  padding: 0px 1% 0% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1%;
}

.tickerData {
  color: #fff !important;
  font-family: "CircularMedium";
  opacity: 1 !important;
  font-size: 1.5em !important;
  position: relative !important;
  z-index: 9999 !important;
  margin-right: 2%;
}

.styles_tickerStats__7TXcs {
  display: none !important;
  height: 0px !important;
}

.styles_ticker__-0UvZ {
  height: 5vh !important;
  background-color: #601d1d !important;
}

.styles_tickerTopLevel__vRrjN {
  font-family: "CircularMedium" !important;
  font-size: 1.2em !important;
}

.styles_tickerItemFinancial__m6Lt7 {
  background-color: #616161 !important;
}

.styles_ticker-list__1JKu- {
  background-color: #616161 !important;
}

#root > div > div.styles_ticker__-0UvZ > div {
  background-color: #616161 !important;
}

.styles_tickerItem__Vj57z:after{
  width: 0px !important;
}



.darkGreen {
  background-color: #616161 !important;
}

.squareArrow {
  float: right;
  visibility: hidden;
  display: none;
}

.docsLink {
  width: fit-content;
  height: fit-content;
  background-color: #616161;
  border: solid 2px #434343 !important;
  border-radius: 10px;
  padding: 1% 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  color: #fff;
  font-family: "CircularMedium";
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.docsLink span {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 1em;
}

.squareIcon {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.squareIcon:hover {
  box-shadow: 0px 0px 250px 20px #fff;
}

.squareTitle {
  font-family: "CircularBold";
  font-size: 3em;
  background: #4bb954;
  background: linear-gradient(to right, #4bb954 0%, #c5ff4a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 15%;
  background-size: 200% auto;
  animation: textShine 2s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.squareText {
  font-family: "CircularMedium";
  font-size: 1.6em;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.squareLearnMore {
  font-family: "CircularBold";
  font-size: 2.5em;
  background: #16884d;
  background: linear-gradient(to right, #16884d 0%, #aeff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5%;
  font-weight: 600;
  display: none;
}

#howItWorks {
  background-color: #020202;
  width: 100vw;
  height: fit-content;
  padding: 5% 3% 3% 3%;
  position: relative;
  z-index: 20;
}

.howItWorksText {
  font-family: "CircularMedium";
  font-weight: 400 !important;
  font-size: 3em;
  color: #fff;
  padding-right: 5%;
  margin-top: 5%;
  text-align: justify;
  line-height: 1.2em;
  background-color: #1d1f1d;
  padding: 3%;
  border-radius: 20px;
}

.howText2 {
  margin-top: 2% !important;
}

.howItWorksText span {
  color: #fff;
}

#news {
  background-color: #020202;
  width: 100vw;
  height: fit-content;
  padding: 8% 0% 3% 0%;
}

.paddedSectionTitle {
  padding-left: 3%;
}

.paddedSectionSubtitle {
  padding-left: 3%;
}

.newsCarouselWrapper {
  height: fit-content;
  background-color: #0a0a0a;
  margin-top: 5%;
  padding: 1% 0px !important;
}

.articlesArrowRight {
  width: 3vw;
  height: 3vw;
  background: radial-gradient(
      60% 60% at 50% 20%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 100%
    ),
    radial-gradient(
        68.27% 820.44% at 15.38% 30%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 52.08%,
        rgba(255, 255, 255, 0.12) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(90.07deg, #007d3d 1.8%, #6ea200 77.1%);
  box-shadow: 0px 3px 4px rgba(67, 67, 67, 0.69);
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.articlesArrowLeft {
  width: 3vw;
  height: 3vw;
  background: radial-gradient(
      60% 60% at 50% 20%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 100%
    ),
    radial-gradient(
        68.27% 820.44% at 15.38% 30%,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 52.08%,
        rgba(255, 255, 255, 0.12) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(90.07deg, #007d3d 1.8%, #6ea200 77.1%);
  box-shadow: 0px 3px 4px rgba(67, 67, 67, 0.69);
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#gusdNumbers {
  background-color: #020202;
  width: 100vw;
  height: fit-content;
  padding: 5% 3% 3% 3%;
}

.longSectionSubtitle {
  padding-right: 20%;
}

.rowOfThreeNumbers {
  width: 70vw;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.numberWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.numberTitle {
  font-family: "CircularBold";
  font-size: 9em;
  background: #4bb954;
  background: repeating-linear-gradient(to top right, #4bb954 0%, #c5ff4a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 1.3s ease-in-out infinite alternate;
  text-align: center;
}

.numberSubtitle {
  font-family: "CircularMedium";
  font-size: 1.8em;
  color: #fff;
  margin-top: 5%;
}

.numberComment {
  font-family: "CircularMedium";
  font-size: 1.2em;
  color: #fff;
  font-style: italic;
  margin-top: 3%;
  font-weight: 500;
  visibility: hidden;
}

.numberSeperator {
  height: 30vh;
  width: 1px;
  background-color: #fff;
}

.rowOfTwoNumbers {
  width: 50vw;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 25%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#community {
  background-color: #1b1b1b;
  width: 100vw;
  height: 100vh;
  padding: 5% 3% 3% 3%;
}

.CommunityWrapper {
  width: 100%;
  height: 100vh;
  background-color: #020202;
  padding-top: 10vh;
  overflow: hidden;
  box-shadow: #030303 0px -30px 100px 80px;
  position: relative;
}

.dappCommunityWrapper {
  width: 100vw;
  height: 100vh;
  background-color: #020202;
  padding-top: 10vh;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.greenShadow {
  width: 100vw !important;
  height: 0vh;
  background-color: #a9ffae;
  box-shadow: 10px 0px 100px 5px #a9ffae;
  position: relative;
  z-index: 9999;
}

.circlesWrapper {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  position: relative;
  padding-top: 30vh;
}

.circle1 {
  border: solid 4px #4bb954;
  border-radius: 50%;
  height: 140vh;
  width: 140vh;
  position: relative;
  margin-left: 50%;
  margin-top: 20vh;
  animation: pulse 6s ease-in-out infinite;
  animation-delay: 0.7s;
}

.circle2 {
  position: absolute;
  border: solid 4px #255929;
  border-radius: 50%;
  height: 120vh;
  width: 120vh;

  margin: 50% 0px 0px 50%;
  animation: pulse 6s ease-in-out infinite;
  animation-delay: 0.2s;
}

.circle3 {
  position: absolute;
  border: solid 4px #4bb954;
  border-radius: 50%;
  height: 100vh;
  width: 100vh;
  margin: 50% 0px 0px 50%;
  animation: pulse 6s ease-in-out infinite;
  animation-delay: 0.5s;
}

.circle4 {
  position: absolute;
  border: solid 4px #255929;
  border-radius: 50%;
  height: 80vh;
  width: 80vh;
  margin: 50% 0px 0px 50%;
  animation: pulse 6s ease-in-out infinite;
  animation-delay: 0.7s;
}

.communityTextWrapper {
  width: 60vw;
  height: 50vh;
  max-height: 80vh;
  margin-top: -75vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}

.communityHR {
  width: 20%;
  height: 5px;
  background: linear-gradient(90deg, #0a6f37 -1.03%, #fec247 95.01%);
  border: solid 0px #fff;
}

.communityTitle {
  font-family: "CircularBold";
  color: #fff;
  font-size: 6em;
  text-align: center;
}

.communityGradientText {
  background: #009e4c;
  background: repeating-linear-gradient(
    to bottom right,
    #4bb954 0%,
    #a2ffa9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.communitySubtitle {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  margin-top: 3%;
  font-weight: 500;
}

.communityIconsWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: flex;
}

.communityIconWrapper {
  background-color: #4bb954;
  padding: 1.5vh;
  border-radius: 50%;
  margin-left: 1vh;
  margin-right: 1vh;
}

.communityIcon {
  width: 4vh;
  height: auto;
  filter: brightness(0) invert(1);
}

/* Pulsing animation for community :*/
@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }

  45% {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }

  80% {
    opacity: 1;
  }

  to {
    opacity: 0.5;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

#gatoChain {
  background-color: #020202;
  width: 100vw;
  height: fit-content;
  padding: 5% 3% 3% 3%;
}

#diamondsAnimation {
  background-color: #1b1b1b;
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 20;
}

.newsLetter {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(1.2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.glassBox {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
}

.newsLetterSmallTitle {
  font-family: "CircularMedium";
  color: #29ff90;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5%;
  text-shadow: 0 0 5px #000;
}

.newLetterTitle {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 2.5em;
}

.newsLetterInput {
  background-color: #000 !important;
  height: 50px !important;
  width: 25vw !important;
  border: solid 1px #fff !important;
  margin-top: 3%;
  border-radius: 10px !important;
  color: #fff !important;
  font-family: "CircularMedium" !important;
}

.newsLetterInput input {
  background-color: #000 !important;
  height: 50px !important;
  width: 100% !important;
  border: solid 1px #fff !important;
  margin-top: 3%;
  border-radius: 10px !important;
  color: #fff !important;
  font-family: "CircularMedium" !important;
  margin: 0px !important;
  max-width: none !important;
}

#footer {
  background-color: #020202;
  width: 100vw;
  height: fit-content;
  padding: 0% 3% 3% 3% !important;
  border-top: solid 1px #cacaca;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
}

.footerLogo img {
  width: 10% !important;
  height: auto;
  filter: brightness(0) invert(1);
}

.footerLogoText {
  font-family: "CircularBold";
  color: #fff;
  font-size: 2.3em;
  margin: 0px 1% !important;
}

.footerLongRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
  margin-left: 2%;
  width: 70vw;
}

.footerMenu {
  margin-right: 0%;
}

.footerMenuTitle {
  font-family: "CircularBold";
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 4%;
}

.footerMenuItem {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.1;
  font-weight: 500;
  line-height: 1.4em;
}

.footerSmallRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4%;
  margin-left: 2%;
  width: 70vw;
  justify-content: flex-start;
}

.footerHorizentalMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 20vw;
}

.footerSeperator {
  background-color: #cacaca;
  height: 0.5px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-width: 0px !important;
}

.footerCopyrights {
  color: #858585;
  font-family: "CircularMedium";
  font-size: 1.5em;
  margin: 4% 2% 0% 2%;
  font-weight: 500;
}

#background-video {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-container {
  height: 100% !important;
  padding-top: 1%;
}

.article {
  height: 50vh;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #020202;
  border-radius: 20px;
}

.carousel-item-padding-40-px {
  border-radius: 20px !important;
}

.articleImage {
  background-color: #8c8c8c;
  height: 50%;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articleDataContainer {
  background-color: rgba(10, 54, 27, 0.84);
  padding: 5% 3%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.articleTitle {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 500;
  padding-right: 5%;
}

.articleAuthor {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 400;
  font-style: italic;
  padding-right: 10%;
  margin-top: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#signupWrapper {
  width: 100vw;
  height: fit-content;
  margin: 0px;
  padding: 5% 2% 3% 2%;
  background-color: hsla(105, 47%, 38%, 1);
  background-image: radial-gradient(
      at 24% 91%,
      hsla(149, 68%, 37%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 26% 72%, hsla(78, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 14%, hsla(78, 76%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 94%, hsla(149, 74%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 0%, hsla(149, 75%, 27%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(78, 100%, 37%, 1) 0px, transparent 50%);
  background-size: 300% 200%;
  animation: AnimationName 5s ease infinite;
}

.signUpLogoWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.signUpLogoWrapper img {
  width: 30% !important;
  height: auto;
  filter: brightness(0) invert(1);
}

.signUpLogoWrapper h5 {
  font-family: "CircularBold";
  color: #fff;
  font-size: 2.5em;
  margin: 0px 1% !important;
}

.signUpFormWrapper {
  background: #242424;
  border-radius: 15px;
  width: 70vw;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 5% 2%;
  box-shadow: 0px 0px 2px 20px #2424248f;
}

.formTitle {
  margin-left: auto;
  margin-right: auto;
  font-family: "CircularMedium";
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin-bottom: 5%;
}

.formRow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 3%;
  padding: 1% 10%;
}

.formItem {
  max-width: none !important;
  width: 30vw !important;
}

.formLabel {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 5%;
  max-width: none !important;
}

.formItem input {
  max-width: none;
  width: 100% !important;
  border: solid 1px #fff !important;
  font-family: "CircularMedium";
  font-weight: 500;
  color: #fff;
}

.termsWrapper {
  padding: 2% 12%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.termsWrapper input {
  background-color: transparent;
  border: solid 1px #fff;
}

.termsLabel {
  font-family: "CircularMedium";
  font-size: 1.3em;
  font-weight: 500;
  color: #fff;
}

.termsLabel span {
  color: #439900;
}

.btnWrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupBtn {
  width: 60%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5%;
  font-size: 2.5em;
  padding-top: 1.5% !important;
  padding-bottom: 1.5% !important;
  font-family: "CircularMedium";
  color: #fff;
  background-color: #0a3f20 !important;
  border-color: transparent !important;
  border-radius: 10px !important;
}

.signinLink {
  margin-top: 5%;
  font-family: "CircularMedium";
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.signinLink span {
  color: #439900;
}

#Animation3DBoxWrapper {
  height: 100% !important;
  width: 100% !important;
}

#buy {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0px;
  padding: 2% 2% 0% 2%;
  background-color: hsla(105, 47%, 38%, 1);
  background-image: radial-gradient(
      at 24% 91%,
      hsla(149, 68%, 37%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 26% 72%, hsla(78, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 14%, hsla(78, 76%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 94%, hsla(149, 74%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 0%, hsla(149, 75%, 27%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(78, 100%, 37%, 1) 0px, transparent 50%);
  background-size: 300% 200%;
  animation: AnimationName 5s ease infinite;
  box-shadow: 0px 15px 100px 150px #141414;
  position: relative;
  z-index: 10;
}

.swappingPageContainer {
  width: 100%;
  height: 100vw;
  max-height: 100vh;
  max-width: 100vw;

  background-position: left 70%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10vh;
  padding-top: 15vh;
  position: relative;
  z-index: 0;
}

.swappingBoxWrapper {
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: fit-content;

  z-index: 99;
  padding: 0px !important;
  margin: 0px !important;
}

.swappingFormWrapper {
  height: 95%;
  width: 95%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 4% 3% 0% 3%;
  display: flex !important;
  flex-wrap: wrap !important;
  align-content: flex-start !important;
}

.mintingGlassBox {
  width: 100%;
  height: fit-content;
  margin: 0px !important;
  background: #0a3f20;
  border-radius: 10px;
  z-index: 90;
}

.swapInBox {
  border: 1px solid #fff;
  border-radius: 7px;
  height: fit-content;
  padding: 2% 2%;
  width: 100%;
}

.swapInBoxTitle {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 1.5em;
  margin-bottom: 3%;
}

.swapInFormWrapper {
  width: 100%;
  padding: 0px;
}

.percentageBox{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: solid 1px #fff;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5%;
  padding: 0.5em;
}

.percentageBtn{
  font-family: 'CircularMedium';
  font-size: 2em;
  color: #fff;
  height: fit-content;
  width: 25%;
  padding: 3% 0px;
  text-align: center;
  border-radius: 10px;
}

.percentageBtn:hover{
  background-color: #fff;
  color: #0A3F20;
}

.avBox{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.avText{
  font-family: 'CircularMedium';
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}

.fromCoinBtn {
  width: 40% !important;
  float: left;
  background-color: transparent !important;
  border-color: #fff !important;
  color: #0a3f20;
  padding-top: 2% !important;
  padding-bottom: 6% !important;
  padding-left: 2% !important;
  height: 10px !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  cursor: pointer;
}

.toCoinBtn {
  width: 40% !important;
  float: left;
  background-color: transparent !important;
  border-color: #fff !important;
  color: #0a3f20;
  padding-top: 2% !important;
  padding-bottom: 6% !important;
  padding-left: 2% !important;
  height: 10px !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  cursor: pointer;
}

.swapCoinLogo {
  width: 15%;
  height: auto;
  margin-right: 5%;
  margin-bottom: 3%;
}

.toCoinBtn span {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.4em;
}

.fromCoinBtn span {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.4em;
}

.modal-dialog {
  max-width: 40vw !important;
  margin-top: 15vh !important;
}

body > div.fade.modal.show > div > div > div.modal-body.swapModal.space-y-20.pd-20 > div.coinsList > div > div > span{
  color: #fff !important;
}

.modal-backdrop.show {
  opacity: 0.6 !important;
  background-color: white !important;
}

body
  > div.fade.modal.show
  > div
  > div
  > div.modal-body.swapModal.space-y-20.pd-20
  > div
  > div
  > div
  > input[type="text"] {
  border-color: transparent !important;
  width: 100% !important;
  font-family: "CircularMedium" !important;
}

.jZvqdQ {
  display: none !important;
}

.coinsList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 40vh !important;
  overflow: hidden;
}

.coinsScrollableList {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.swapInFormWrapper .dropdown {
  width: fit-content !important;
  float: left;
  background-color: transparent !important;
  border-color: #fff !important;
  color: #fff;
  padding-top: 2% !important;
  padding-bottom: 6% !important;
  padding-left: 2% !important;
  height: 10px !important;
  max-height: fit-content !important;
  min-height: fit-content !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.swapInFormWrapper .divider {
  background-color: transparent !important;
  color: #fff !important;
  font-family: "CircularMedium";
  font-size: 0.7em !important;
  display: flex;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.swapInFormWrapper .divider img {
  height: 3vh !important;
  width: auto !important;
  margin-right: 5px !important;
}

.swapInFormWrapper .dropdown.icon {
  display: none !important;
}

.swapInFormWrapper .visible.menu.transition {
  width: 10vw !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.swapInFormWrapper .visible.menu.transition .item {
  font-family: "CircularMedium";
  border-radius: 10px !important;
}

.maxswapIn {
  float: right;
  color: #0a3f20;
  font-family: "CircularMedium";
  font-size: 1.5em;
  background: #fff;
  box-shadow: 0px 0px 4px #fff;
  border-radius: 5px;
  padding: 1.2vh 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swapInInput {
  width: 5vw !important;
  height: 5px !important;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  float: right;
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
  margin-right: 5px;
  text-align: center !important;
  border-color: #fff !important;
}

.swapInInput::placeholder {
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
}

.swapInInput:-ms-input-placeholder {
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
}

.swapInInput::-ms-input-placeholder {
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
}

.swapOutBox {
  border: 1px solid #fff;
  border-radius: 7px;
  height: fit-content;
  padding: 2% 2%;
  width: 100%;
  margin-top: 5% !important;
}

.swapOutBoxTitle {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 1.5em;
  margin-bottom: 3%;
}

.swapOutFormWrapper {
  width: 100%;
  padding: 0px;
}

.swapOutFormWrapper .dropdown {
  width: fit-content !important;
  float: left;
  background-color: transparent !important;
  border-color: #0a3f20 !important;
  color: #0a3f20;
  padding-top: 2% !important;
  padding-bottom: 6% !important;
  padding-left: 2% !important;
  height: 10px !important;
  max-height: fit-content !important;
  min-height: fit-content !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.swapOutFormWrapper .divider {
  background-color: transparent !important;
  color: #0a3f20 !important;
  font-family: "CircularMedium";
  font-size: 0.7em !important;
  display: flex;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.swapOutFormWrapper .divider img {
  height: 3vh !important;
  width: auto !important;
  margin-right: 5px !important;
}

.swapOutFormWrapper .dropdown.icon {
  display: none !important;
}

.swapOutFormWrapper .visible.menu.transition {
  width: 10vw !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.swapOutFormWrapper .visible.menu.transition .item {
  font-family: "CircularMedium";
  border-radius: 10px !important;
}

.maxswapOut {
  float: right;
  color: #0a3f20;
  font-family: "CircularMedium";
  font-size: 1.5em;
  background: #fff;
  box-shadow: 0px 0px 4px #fff;
  border-radius: 5px;
  padding: 1.2vh 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swapOutInput {
  width: 5vw !important;
  height: 10px !important;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  float: right;
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
  margin-right: 5px;
  text-align: center !important;
  border-color: #fff !important;
}

.swapOutInput::placeholder {
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
}

.swapOutInput:-ms-input-placeholder {
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 0.9em !important;
}

.swapOutInput::-ms-input-placeholder {
  font-family: "CircularMedium" !important;
  color: #fff !important;
  font-size: 1.2em !important;
}

.swapBtn {
  background: #fff;
  box-shadow: 0px 0px 4px #fff;
  border-radius: 5px;
  border-width: 0px !important;
  width: 100%;
  margin-top: 3%;
  font-family: "CircularMedium";
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  margin-bottom: 5% !important;
  font-size: 2em !important;
  color: #0a3f20;
}

.swapBtn:hover {
  border-width: 0px;
  background: #0a3f20;
  box-shadow: 0px 0px 4px #0a3f20;
  border-radius: 5px;
  color: #e0e0e0;
}

.swappingV3GlassBox {
  width: 100%;
  height: fit-content !important;
  margin: 2% 0px 0px 0px !important;
  background: #0a3f20;
  border-radius: 10px;
  z-index: 90;
  padding: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.modal-content{
  background-color: #323232 !important;
}

.swappingV3BoxTitle {
  font-family: "CircularMedium";
  color: #fff;
  font-size: 2em;
  float: left;
  margin-bottom: 0px !important;
}

.swappingV3Data {
  margin-top: 0px !important;
  font-family: "CircularMedium";
  color: #fff;
  font-size: 1.3em;
  float: right;
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 2% 5%;
}

.diamondsContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow: hidden;
}

.diamond {
  width: 4.2vw;
  height: 7.5vh;
}

#profilePage {
  background-color: #001309;
  width: 100vw;
  height: fit-content;
  padding-bottom: 2%;
}

.sideBar {
  border-right: solid 1px #f1f1f1;
  padding-top: 3% !important;
}

.profileLogoWrapper {
  display: flex;
}

.profileLogoWrapper img {
  width: 60%;
  height: auto;
  filter: brightness(0) invert(1);
  margin-left: auto;
  margin-right: auto;
}

.profileContent {
  padding-top: 3%;
}

.profileCoverSection {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 40vh;
  border-radius: 10px;
  background-image: url("https://www.btcwires.com/wp-content/uploads/Will-we-every-know-who-Satoshi-Nakamoto-is-1024x525.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 1%;
}

.coverEditIcon {
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border: solid 1px #fff;
  width: fit-content;
  height: auto;
}

.profileHeaderSection {
  width: fit-content;
  height: fit-content;
  margin-top: -8%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profilePicture {
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  border: solid 5px #fff;
}

.dataWrapper {
  width: 62vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  margin-top: 20%;
}

.userNameWrapper h5 {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 2em;
}

.editProfileBtn {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 1% 2%;
  border-radius: 10px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.editProfileBtn span {
  color: #0a3f20;
  font-family: "CircularMedium";
  font-size: 1.5em;
  margin-left: 5%;
}

.nameSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 5%;
}

.userDataSection {
  width: 95%;
  height: fit-content;
  border-radius: 10px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5%;
  margin-bottom: 1%;
}

.userDataSectionTitle {
  font-family: "CircularMedium";
  font-size: 2.5em;
  color: #0a3f20;
}

.userBio {
  font-family: "CircularMedium";
  font-size: 2em;
  color: #000d02;
  font-weight: 500;
  margin-top: 2%;
}

.userDataRow {
  margin-top: 1%;
  margin-bottom: 1%;
}

.userDataTitle {
  font-family: "CircularMedium";
  font-size: 2em;
  color: #0a3f20;
  font-weight: 700;
}

.userData {
  font-family: "CircularMedium";
  font-size: 1.8em;
  color: #000d02;
  font-weight: 500;
}

.sliderContainer {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  position: relative;
  z-index: 999;
}

.PartnerContainer {
  background-color: #082d17;
  height: fit-content;
  border-radius: 10px;
  height: 50vh;
}



.slick-slide{
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

.partnerLogoContainer {
  background-color: #fff;
  height: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.partnerDataContainer {
  height: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.partnerTitle {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 1.5em;
  text-align: center;
}

.partnerDescription {
  color: #fff;
  font-family: "CircularMedium";
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}

.mobileMenuBtn{
  display: none;
}

#roadmap{
  position: relative;
  z-index: 999;
  margin-top: 2%;
  margin-bottom: 2%;
}

.vertical-timeline-element-icon{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

.vertical-timeline-element-icon img{
  width: 70%;
  height: 40%;
  
}

#roadmap > div > div > div > p{
  font-family: 'CircularMedium';
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {

  .swappingBoxWrapper {
    width: 90vw;
    margin-top: 20vh !important;
  }

  .swapInInput{
    width: 15vw !important;
    height: 4.3vh !important;
  }

  .fromCoinBtn{
    height: 4.3vh !important;
  }

  .toCoinBtn {
    height: 4.3vh !important;
  }

  .swapOutInput{
    width: 15vw !important;
    height: 4.3vh !important;
  }

  .swappingV3Data{
    font-size: 1.5em;
    font-weight: 500;
  }

  .swappingV3GlassBox{
    padding: 5%;
  }


  #roadmap{
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

  .glassBox{
    background-color: transparent;
  }

  .diamondsContainer{
    flex-direction: column-reverse;
  }

  .diamond {
    width: 10vw;
    height: 5vh;
  }

  .mobileMenuBtn{
    display: block;
    position: absolute;
    top: 5.5vw;
    right: 4vw;
  }
  
  .menu-wrap{
    background-color: #2f2f2f !important;

  }

  .menu{
    background-color: #2f2f2f !important;
    
  }



  .item-text{
    color: #fff;
    font-family: 'CircularMedium';
    font-size:2em;
  }

  .headerLogo {
    padding-top: 3%;
    padding-left: 5%;
  }

  .headerLogo img {
    width: 20vw !important;
    max-width: none;
  }

  .navMenu h5 {
    display: none !important;
  }

  .navBtn {
    position: absolute;
    top: 4vw;
    right: 14vw;
    padding: 3% 5% !important;
  }

  .navBtn span {
    font-size: 1em !important;
  }

  .heroTextWrapper {
    margin-top: 20vh !important;
  }

  .partnersWrapper {
    margin-top: 5% !important;
  }

  .sectionTitle {
    font-size: 3em !important;
    text-align: center;
  }

  .sectionSubtitle {
    font-size: 1.8em !important;
    text-align: center;
    margin-top: 5% !important;
    margin-bottom: 15% !important;
    padding-right: 5%;
    padding-left: 5%;
  }

  .squaresRow {
    flex-direction: column !important;
    width: 90vw;
  }

  .darkSquare {
    width: 90%;
    height: fit-content;
    padding: 2% 5% 5% 5%;
    margin-bottom: 7%;
  }

  .squareArrow{
    display: none;
  }

  .squareIcon {
    margin-left: auto !important;
    margin-right: auto !important;
    transform: scale(0.9);
    margin-top: 0% !important;
  }

  .squareTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.6em;
  }

  .squareText {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 150%;
  }

  .howItWorksText {
    text-align: left;
    font-size: 1.5em;
    padding: 6% 5% !important;
    line-height: 150%;
    width: 90vw;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .carousel-container {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .article {
    margin-left: 0% !important;
  }

  .carousel-item-padding-40-px {
    width: 90vw !important;
  }

  .heroSubtitle {
    font-size: 2.5em;
    margin-top: 5%;
  }

  .rowOfThreeNumbers {
    flex-direction: column;
  }

  .numberSeperator {
    display: none;
  }

  .numberWrapper {
    margin-bottom: 10% !important;
  }

  .rowOfTwoNumbers {
    flex-direction: column;
  }

  .numberTitle {
    text-align: center;
  }

  .numberComment {
    text-align: center;
  }

  .dappCommunityWrapper {
    height: fit-content;
    padding-bottom: 20vh;
  }

  .glassBox {
    max-width: none !important;
    width: 100% !important;
    padding: 0px 0px 0px 8% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .newsLetterInput {
    width: 90vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .newsLetterInput input {
    width: 90vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #THREEJSANIM {
    visibility: hidden;
  }

  .circlesWrapper{
    height: fit-content;
    padding-top: 5vh !important;
    margin-bottom: -95vh !important;
  }


  .circle1{
    height: 80vh;
    width: 80vh;
  }

  .circle2{
    height: 70vh;
    width: 70vh;
  }

  .circle3{
    height: 60vh;
    width: 60vh;
  }

  .circle4{
    height: 50vh;
    width: 50vh;
  }
  

  .communityTextWrapper {
    margin-top: 0vh;
    width: 100% !important;
  }

  .docsLink {
    padding: 4% 7%;
    margin-top: 5%;
  }

  #root > div > div.styles_ticker__-0UvZ > div {
    padding-bottom: 3% !important;
  }

  .docsLink span {
    font-size: 1.2em;
  }

  .communityTitle {
    font-size: 3em;
    text-align: center;
  }

  .communitySubtitle {
    font-size: 1.6em;
    padding: 1% 5%;
    line-height: 1.2em;
  }

  .communityIconsWrapper {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding-bottom: 10% !important;
  }

  .communityIconWrapper {
    margin-top: 10px;
  }

  .numberSubtitle {
    text-align: center;
  }

  .footerLogo img {
    width: 20vw !important;
    max-width: none;
  }

  .footerLongRow {
    flex-wrap: wrap !important;
  }

  .footerMenu {
    margin-top: 5%;
  }
  .footerSmallRow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footerSmallRow .footerMenu {
    margin-left: 0px !important;
  }

  .footerCopyrights {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
  }

  #signupWrapper {
    height: fit-content;
  }

  .signUpFormWrapper {
    width: 95% !important;
    box-shadow: 0px 0px 20px 10px #242424;
  }

  .formTitle {
    font-size: 2em;
    margin-bottom: 10% !important;
  }

  .formRow {
    flex-direction: column;
  }

  .formItem {
    width: 100% !important;
  }

  .formItem:nth-child(2) {
    margin-top: 5%;
  }

  .formItem input {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }

  .termsLabel {
    font-size: 1.1em;
  }

  .signinLink {
    margin-top: 10%;
  }

  .signInPage {
    padding-top: 15vh !important;
  }

  .signUpLogoWrapper img {
    width: 20% !important;
  }

  .signUpLogoWrapper h5 {
    font-size: 2em;
  }

  #hero {
    box-shadow: 0px 5px 100px 80px #000 !important;
  }

  #whyGUSD {
    box-shadow: 0px -5px 100px 100px #000 !important;
  }

  #background-video {
    height: 80vw !important;
  }
}
